* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(90, 90, 7);
    background-color: ghostwhite;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h1 {
    font-weight: 900;
    margin: 1.5rem;
    border-bottom: 1px solid rgb(90, 90, 7);
}

.levelSelect {
    width: 100%;
    display: flex;
    justify-content: center;
}

.levelSelect .form {
    width: 300px;
    text-align: right;
}

#levels {
    width: max-content;
    outline: none;
    text-align: end;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 0.1px solid #ccc;
    border-radius: 3px;
    font-stretch: expanded;
    padding-right: 1rem;
    cursor: pointer;
    font-weight: 700;
}

.playerChoice {
    display: flex;
    width: 300px;
    gap: 1rem;
    justify-content: space-between;
    margin: 0.4rem;
}

.playerChoice button {
    width: 100%;
    padding: 0.1rem;
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    background-color: rgb(90, 90, 7);
    outline: none;
}


.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.1rem;
    background-color: rgba(90, 90, 7, 0.76);
    border-radius: 10px;
}

.board button {
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 10px;
    border: none;
}

.board button>p {
    font-size: medium;
    font-weight: 800;
}

.btn-p {
    font-size: 48px;
    font-weight: bolder;
    font-stretch: ultra-expanded;
    height: 100%;
    display: grid;
    align-items: center;
}